* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");
body {
  font-family: "Raleway";
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  height: calc(100vh - 247px);
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .condiv {
    padding: 40px;
    height: calc(100vh - 127px);
  }
}
